<div class="card mt-5">
    <div class="card-body">
        <h3 class="card-title text-center">Completa tus datos</h3>
        
        <div class="form-group mt-2">
            <div class="container">
                <div class="containercoment">
                <div class="item rojo">
                    <h3>Nombre</h3>
                    <input  type="text" id="fname2" name="firstname2" placeholder="Escribe Nombre.." >
                </div>
                <div class="item">
                    <h3>Correo Electronico</h3>
                    <input type="text" name="correo2" id="correo2" placeholder="Coreo" ><br>
                </div>
                </div>
                <div class="containercoment">
                <div class="item verde">
                    <h3>Apellidos</h3>
                    <input  type="text" id="fapellido2" name="apellido2" placeholder="Escribe tu apellido.." >
                </div>
                <div class="item">
                    <h3>Contraseña</h3>
                    <input type="password" id="password2" name="password2    " placeholder="Escribe tu contraseña" maxlength="10">
                </div>
                 
            </div>
            <div class="containercoment">
                <div class="container">
                    <input type="checkbox" class="chk"  id="" name="" value="">
                    <label style = "display: contents" for="">Estoy de acuerdo con los Terminos y Condiciones, Con el uso de mi informacion según el acuerdo de Declaracion de privacidad</label><br>    
                
                
                </div>
            </div>
        </div>
        </div>
        <div class="form-group mt-5 text-center">
            <button class="btn btn-primary" >Continuar</button>
        </div>
    </div>
</div> 


<!------------------------------>
