
<!-- panel de navegacion del dashboard -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center mt-5">
  <a class="navbar-brand" RouterLink = 'home'>Tablero
    <span class="sr-only">(current)</span>
  </a>  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink = "/mi-perfil">Mi perfil</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink = "/catalogo">Catalogo de cursos</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">Mis cursos</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink = "/nuevo-curso">Registrar un curso</a>
          <a class="dropdown-item" routerLink = "/cursos-impartidos">Modificar mis cursos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">...</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="buscar en tablero">
      <!-- <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button> -->
    </form>
  </div>
</nav>

<div class="container mt-3">
  <div class="alert alert-dismissible alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Manos a la obra!</strong> ahora que has creado tu perfil, no olvides mantener al día <a href="#" class="alert-link">preferencias e información de contacto</a>.
  </div>
  <div class="jumbotron">
    <h1 class="display-3">Bienvenido!</h1>
    <p class="lead">Esta es tu nueva area de trabajo, aquí podrás mantenear al día todos los detalles de los cursos a los que estas inscrito.</p>
    <hr class="my-4">
    <p class="lead">Mira el estado de tus cursos fácil y rápido.</p>
    
    <div *ngFor = "let solicitudArray of itemSolicitud$ | async">
      <app-tarjeta-solicitud [data] = "solicitudArray"></app-tarjeta-solicitud>
    </div>  
    
    <hr class="my-4">
    <p>Aprende como invertir tu tiempo tomando cursos desde casa, y como generar ingresos.</p>
    <p class="lead">
      <a class="btn bg-dark text-light" href="#" role="button">Ver ahora</a>
    </p>
  </div>
</div>
