<div class="row">
    <div class="col-md-6 mx-auto mt-5">
        <div class="card">
            <div class="card-body">
                <h1 class="text-center">Inicia sesión</h1>
                <form [formGroup] = "loginForm" (ngSubmit) = "onLogin()"> 
                    <div class="from-group">
                        <input type="email" class="form-control" placeholder="Escribe tu Correo Electrónico" 
                        formControlName = "email" [class] = "isValidField('email')">
                        <div class="invalid-feedback">
                            <span *ngIf = "loginForm.get('email').errors?.required">Tu email es un campo requerido</span>
                            <span *ngIf = "loginForm.get('email').errors?.email">Escribe un correo electrónico válido.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Escribe tu contraseña" 
                        formControlName = "password" [class] = "isValidField('password')">
                        <div class="invalid-feedback">
                            <span *ngIf = "loginForm.get('password').errors?.required">Tu contraseña es un campo requerido</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-block bg-dark text-light">Entrar</button>
                </form>
                <div class="form-group mt-3 text-center">
                    <p>¿No tienes una cuenta? <a [routerLink] = "['/register']">Regístrate ahora!</a></p>
                </div>  
                <div class="form-group mt-3 text-center">
                    <p>¿Has olvidado tu contraseña? <a [routerLink] = "['/forgot-password']">Recupérala ahora!</a></p>
                </div>  
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto mt-5 text-center">
        <button class="btn bg-dark text-light" (click) = "onGoogleLogin()" >Iniciar con mi cuenta de Google</button>
    </div>
</div>
