<div class="card mt-5">
    <div class="card-header">
        <h2 class="card-title mt-2">{{ curso.nombre }}</h2>
        <h6 class="card-subtitle mb-2 text-muted">nombre largo del curso</h6>
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>{{ curso.descripcion }}</h4>
            </li>
            <li class="list-group-item">
                <h4>Impartido por {{ curso. mentor}}</h4>
            </li>
            <li class="list-group-item">
                <h4>prerequisitos</h4>
            </li>
            <li class="list-group-item">
                <h4>acciones</h4>
            </li>
        </ul>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-warning m-3 btn-sm" (click) = "onGoToEdit()">Modificar</button>
        <button type="button" class="btn btn-outline-danger m-3 btn-sm" (click) = "onGoToDelete()">Eliminar</button>
    </div>
</div>

<button type="button" class="btn btn-outline-primary mt-2 bg-dark text-light" (click) = "goback()">volver al catalogo</button>