<div class="card mt-3">
    <div class="card-body">
      <h4 class="card-title">Nombre del Curso</h4>
      <h6 class="card-subtitle mb-2 text-muted">Nombre del Mentor</h6>
      <p class="card-text">Algún texto de ejemplo rápido para construir sobre el título de la tarjeta y constituir la mayor parte del contenido de la tarjeta.</p>
      <!-- Item se hereda del padre [home] -->

      <button type="button" class="btn btn-primary btn-sm" (click) = "onGoToDetails(data)">Abrir detalles</button>
      <!--
        <a class="card-link" >Abrir detalles</a>
        <a href="#" class="card-link">Another link</a> 
      -->
    </div>
  </div>