<div class="card mt-5" *ngIf = "user$ | async as user; else loading">
    <div class="card-body">
        <h3 class="card-title text-center">Es hora de verificar tu correo electrónico!</h3>
        <div class="form-group mt-2">
            <p class="text-center">Hemos enviado un correo de confirmación a <strong> {{ user?.email }}</strong>.</p>
            <p class="text-center">
                Por favor, revisa tu bandeja de entrada y haz click en el enlace para veficar tu dirección de correo.
            </p>
        </div>
        <div class="form-group mt-5 text-center">
            <button class="btn btn-primary" (click) = "onSendEmail()">No recibí ningún correo electrónico.</button>
        </div>
    </div>
</div> 

<ng-template #loading>
    <p class="text-center mt-5">404 ... page no load</p>
</ng-template>