<div class="alert alert-dismissible alert-warning mt-5">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <h4 class="alert-heading">Cuidado!</h4>
    <p class="mb-0">Los datos que compartes con nosotros serán visibles para todos los usuarios, consulta nuestro 
        <a href="#" class="alert-link">Aviso de privacidad</a>.</p>
</div>

<div class="card mt-5">
    <div class="card-header">
        <h2 class="text-center m-3">Ahora es momento de crear tu perfil de Rent a Teacher</h2>
    </div>
    <div class="card-body">
        <app-user-form></app-user-form>
    </div>
</div>